body {
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
}

#background {
  height:100vh;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/76/05/1d/76051d264f1e934dd2c793665b2adbe0.gif");
  background-size: cover;
  color: #274156;

}

.title {
  height: 200px;
  background-color: #1C6E8C;
  background-size: auto 200px;
  width: 100%;

  
}  
h1 {
  text-align: center;
  color: white;
  font-size: 130px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #1C6E8C;
  font-size: 50px;
}

header {
  width: 100%;
  height: 60px;
  font-size: 18px;
  background-color: #C2D3CD; 
}

.tab {
  height: 20px;
  font-size: 18px;
  padding: 5px;
}

a {
  text-decoration: none;
}

/*Quiz*/

#quiz-area, #login, #sign-up {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(128,128,128,0.8);
  border-radius: 10px;
}

.question {
  list-style-type: none;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  text-align: center;

}

#score-display {
  font-size: 30px;
  text-align: center;
}

.button-primary {
  background-color: #1C6E8C;
  color:red;
  }

.button-centering {
  text-align: center;
}

.button-centering .button-primary{
  background-color:  #1C6E8C;
}


/*Header*/
.navbar-list {
  list-style-type: none;
  padding: 5px;
  width: 100%;
}

.navbar-item {
  display: inline;
  margin: 20px;
  padding: 10px;
  line-height: 50px;

}

.navbar-item a{
  color: #1C6E8C;
}

.navbar-item:hover {
  background-color: #1C6E8C;
  border-radius: 5px;
}

.navbar a:hover{
  color: white;
}