<section ng-if="!!game.user">
  <h2>Quiz</h2>
  {{game.user.local.fullname}}
  <div id="quiz-area">
    <h3>{{game.question}}</h3>
    <img ng-src="{{game.flag}}" width="580" ng-show="game.flagPresent">
      <div class="row quiz-questions">
        <ul ng-repeat="country in game.selectedCountries">
          <li class="one-half column question" ng-click="game.checkWin(country)">{{country.name}}</li>
        </ul>
      </div>
      <p>{{game.message}}</p>

      <p>{{game.user.local.score}}</p>

      <button ng-click="game.getRandomCountries()">Shuffle!</button>
    
  </div>


</section>