<section class="login">
  <h2>Login</h2>
  <form id="login" ng-submit="users.login()" ng-show="!users.isLoggedIn()">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Email Address" ng-model="users.user.email">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="What is your password?" ng-model="users.user.password">

    <input type="submit" value="submit">
  </form>
  <div ng-show="!!users.isLoggedIn()"><h2>HI {{users.user.local.username}}</h2></div>

</section>