<section class="login">
  <h2>Login</h2>
  <form id="login" class="row" ng-submit="users.login()" ng-show="!users.isLoggedIn()">
    <label for="email">Email</label>
    <input class="u-full-width" type="text" name="email" placeholder="Email Address" ng-model="users.user.email">

    <label for="password">Password</label>
    <input class="u-full-width" type="password" name="password" placeholder="What is your password?" ng-model="users.user.password">

    <div class="button-centering">
      <input class="button-primary" type="submit" value="submit">
    </div>
  </form>
  <div ng-show="!!users.isLoggedIn()">
    <h2>Welcome back {{users.user.local.username}}!</h2>
    <h3>Can you improve on your score of {{users.user.local.score}} ?</h3>
  </div>

</section>